<dl class="dl-horizontal">
	<dt>
		<h3>Events</h3>
	</dt>
	<p class="muted">Create & manage events</p>
	<dd>
		<li><%= link_to "Create Event", new_event_path %></li>
		<li><%= link_to "Event List",  events_path %></li>
	</dd>
</dl>
<dl class="dl-horizontal">
	<dt>
		<h3>Users</h3>
	</dt>
	<p class="muted">User management</p>
	<dd>
		<li><%= link_to "User List", users_path %></li>
	</dd>
</dl>


   
  